<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vishnu">
    <title>Swasa Orgainsation</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/eve.css" %}" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        {% include 'partials/topbar.html' %}
        {% include 'partials/navbar.html' %}
        {% if body %}
            {% include 'partials/body.html' %}
        {% elif about %}
            {% include 'partials/about.html' %}
        {% elif members %}
            {% include 'partials/members.html' %}
        {% elif events %}
            {% include 'partials/events.html' %}
        {% elif read_more %}
            {% include 'partials/read/continue.html' %}
        {% elif read_event or read_event_vol%}
            {% include 'partials/read/event.html' %}
        {% elif volunter %}
            {% include 'partials/volunter.html' %}
        {% elif financial_report %}
            {% include 'partials/financial.html' %}
        {% elif my_projects %}
            {% include 'partials/projects.html' %}
        {% elif contact %}
            {% include 'partials/contact.html' %}
        {% endif %}

        {% include 'partials/footer.html' %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="{% static "js/app.js" %}"></script>

</body>

</html>