<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Our Main Motive</h1>
      <p class="lead my-3">An NGO Organisation formed by group of long-last friends trying to make this world a better
        place by creating awareness among people in Rural areas regarding education, health, well-being etc., and in the
        process learning to be better people by contibuting to the society and the nature.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    Our members
  </h3>
  <div class="blog-post">
    <ul>
      <li>President - Saideep</li>
      <li>Vice President -  VishnuTeja</li>
      <li>General Secretary - Anoop Sai</li>
      <li>Program Coordinators - Sai Kumar, Bhagath, Krishna Prasad</li>
      <li>Treasurer - Anvesh, Sai Charan</li>
      <li>Web & Social Media - P Sai Krishna, Shiva Krishna, Aravind</li>
    </ul>
    <p>Swasa Organisation NGO was registered under the Telangana Societies Registration Act., 2001 on 28/Nov/2019</p>
  </div>