<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/volunter">Volunteer</a>
      <a class="p-2 text-muted" href="/events">Events</a>
      <a class="p-2 text-muted" href="#">Financial Report</a>
      <a class="p-2 text-muted" href="#">Our projects</a>
      <a class="p-2 text-muted" href="#">Our Motives and Values</a>
      <a class="p-2 text-muted" href="#">Raise Funds</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="/members">Members</a>
      <a class="p-2 text-muted" href="/read_more">About Us</a>
    </nav>
  </div>