<main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h1 class="pb-4 mb-4 font-italic border-bottom text-info">
                    Upcoming Events
                </h1>
                {% for event in all_events %}
                <div class="blog-post">
                    <h2 class="blog-post-title text-info">{{ event.head }}</h2>
                    <p class="blog-post-meta">{{ event.date}} at <b class="text-info">{{ event.place}}</b></p>
    
                    <p class="text-justify">{{ event.content }}</p>
                </div><!-- /.blog-post -->
    
                <nav class="blog-pagination">
                    <a class="btn btn-outline-info" href="#">Join</a>
                    <a class="btn btn-outline-info" href="/donate/pay">Donate</a>
                </nav>
                {% endfor %}
    
            </div><!-- /.blog-main -->
    
            {% include 'partials/sidebar.html' %}
    
        </div><!-- /.row -->
    
    </main><!-- /.container -->