{% include 'registration/head.html' %}

<body>
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <a class="col-md-12 text-center blog-header-logo text-success" href="/accounts/login">Login</a>
        </div>
    </header>
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form> -->
    <div class="container">
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
            {% block content %}

            {% if form.errors %}
            <p class="lead my-0">Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p class="lead my-0">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p class="lead my-0">Please login to see this page.</p>
            {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
            <div class="text-center">
                <h4>You are already Logged In</h4>
            </div>
            <div class="text-center">
                <a class="text-dark" href="/">Return to homepage</a>
            </div>
            {% else %}


            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group row text-center">
                    <label for="colFormLabelLg"
                        class="col-sm-5 text-right col-form-label col-form-label-lg">{{ form.username.label_tag }}</label>
                    <div class="col-sm-5">{{ form.username }}</div>
                </div>
                <div class="form-group row text-center">
                    <label for="colFormLabelLg"
                        class="col-sm-5 text-right col-form-label col-form-label-lg">{{ form.password.label_tag }}</label>
                    <div class="col-sm-5">{{ form.password }}</div>
                </div>
                <div class="text-center">
                    <input class="btn btn-outline-dark" type="submit" value="login">
                    <input class="btn btn-outline-dark" type="hidden" name="next" value="{{ next }}">
                </div>
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <div class="text-center">
                <p class="lead my-0 pt-2"><a class="text-dark" href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</body>

</html>