{% include 'registration/head.html' %}
<body>
        <header class="blog-header py-5">
            </header>
    <div class="container">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
                    <div class="text-center">
                <h4>An email has been sent to your mail address. Please check your inbox</h4>
                    </div>
                <div class="text-center">
                        <a class="text-dark" href="/">Return to homepage</a>
                      </div>
                </div>
    </div>
</body>