<div class="jumbotron p-4 p-md-5 text-white rounded bg-info">
        <div class="px-0">
            <h1 class="display-4 font-italic">Our Main Motive</h1>
            <p class="lead my-3">An NGO Organisation formed by group of long-last friends trying to make this world a better
                place by creating awareness among people in Rural areas regarding education, health, well-being etc., and in
                the process learning to be better people by contributing to the society and the nature.</p>

            <p class="lead my-3">India being a country with majority of population living in rural areas, the lack of education and awareness
                has been a serious problem.
            </p>
        </div>
    </div>